extends layout

block content
	h1 Most Emotional Time-Lapse Vimeo Ever

	.container.center
		h3 Vote on your favorite entry below!

	.row
		.col-lg-6.right
			h2 #{videos[0].title}
			p Votes: #{videos[0].votes}
			a(href="/vote1")
				i.fa.fa-2x.fa-thumbs-o-up
			h3: em Submitted by #{videos[0].name}
			iframe(src="#{videos[0].url}", frameborder="0", width="300", height="181", allowfullscreen) 
			p #{videos[0].description}

		.col-lg-6.left
			h2 #{videos[1].title}
			p Votes: #{videos[1].votes}
			a(href="/vote2")
				i.fa.fa-2x.fa-thumbs-o-up
			h3: em Submitted by #{videos[1].name}
			iframe(src="#{videos[1].url}", frameborder="0", width="300", height="181", allowfullscreen) 
			p #{videos[1].description}